/*
*   eLyXer -- convert LyX source files to HTML output.
*
*   Copyright (C) 2009-2010 Alex Fernández
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see http://www.gnu.org/licenses/.
*/
/* --end--
* Global CSS file for LyX documents.
*/


#globalWrapper {
	margin: 10px 5%;
	padding: 20px;
	background: #ffffff;
	line-height: 1.5em;
}

/* Basic styles */
a {
	text-decoration: none;
	background: none;
}
a:link {
	color: #0030c0;
}
a:visited {
	color: #603090;
}
a:active {
	color: #ffa000;
}
a:hover {
	text-decoration: underline;
}
h1 {
	margin-top: 1em;
	line-height: 1.5em;
}
h1.Part {
	text-align: center;
}
h1.Part- {
	text-align: center;
}
sup {
	font-size: 0.75em;
	line-height: 0.5em;
	vertical-align: text-top;
}
sub {
	font-size: 0.75em;
	line-height: 0.5em;
	vertical-align: text-bottom;
}
div.Standard {
	margin: 1em 0;
}
div.Unindented {
	margin: 0;
}
div.Indented {
	text-indent: 30pt;
	margin: 0;
}
div.Indented * {
	text-indent: 0pt;
}
p.dir {
	float: right;
}
p.printindex {
	font-size: 0.90em;
}
a.printindex {
	color: black;
}
table {
	display: inline-table;
	text-align: center;
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}
tr.header {
	border-bottom: thin solid #c0c0c0;
	background: #ffffff;
	font-weight: bold;
}
td {
	padding: 1ex;
	border: thin solid #f0f0f0;
}
td div.Standard {
	margin: 0ex;
	padding: 0ex;
}
div.caption div.Standard, div.table div.Standard {
	margin: 0ex;
	padding: 0ex;
}
td.numeric {
	text-align: right;
}
td.empty {
	text-align: center;
}
div.right {
	text-align: right;
}
div.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
p.biblio {
}
div.Paragraph, div.Paragraph- {
	font-weight: bold;
	font-size: 103%;
}
span.versalitas, span.noun {
	font-variant: small-caps;
}
span.sans {
	font-family: sans-serif;
}
span.code {
	font-family: monospace;
}
div.Plain {
	display: inline;
	width: auto;
}
h2 {
	line-height: 1.4em;
}
span.Description-entry {
	font-weight: bold;
}
span.List-entry {
	display: inline-block;
	width: 25%;
	vertical-align: text-top;
}
span.List-contents {
	display: inline-block;
	width: 75%;
	vertical-align: text-top;
}
div.Space {
	display: none;
}
span.appendix {
	display: none;
}
h1.biblio {
}
span.greyedout {
	color: #808080;
}
div.Description, div.List, li {
	margin: 1em 0;
}
li.nested {
	list-style-type: none;
}
span.Info {
	background: #f0f0f0;
	border: thin solid #c0c0c0;
}
pre {
	padding: 0em;
	margin: 0em;
	width: auto;
	font-family: monospace;
	line-height: 1.5em;
}
pre.LyX-Code {
	margin: 0.5em 3em;
}
a.Label {
	text-decoration: none;
	color: #000000;
}
span.phantom {
	color: #ffffff;
}
a.biblioentry {
	color: black;
}
span.menuitem {
	font-size: 105%;
}
span.normal {
	font-style: normal;
}
div.PlainVisible {
	width: auto;
}
div.indexgroup {
	margin-left: 2em;
}
span.strong {
	font-weight: bold;
}

/* Figures and Tables */
img.embedded {
	width: 100%;
	_width: auto;
}
div.float {
	margin-top: 1ex;
	margin-bottom: 1ex;
	text-align: center;
}
span.float {
	margin-top: 1ex;
	margin-bottom: 1ex;
	text-align: center;
}
div.figure {
	display: inline-block;
	text-align: left;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.table {
	display: inline-block;
	text-align: left;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.algorithm {
	display: inline-block;
	text-align: left;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.caption {
	text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5ex;
}
img.figure {
	width: 100%;
	_width: auto;
}
div.multifigure {
	padding: 1ex;
	width: 100%;
}
div.multitable {
	display: inline-block;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.multialgorithm {
	display: inline-block;
	padding: 1ex;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #c0c0c0;
}
div.wrap-l, div.wrap-o, div.wrap-i {
	margin: 2ex;
	float: left;
}
div.wrap-r {
	margin: 2ex;
	float: right;
}
div.listing {
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5ex;
	border: thin solid #c0c0c0;
}
span.number-left {
	float: left;
	background: #f0f0f0;
	width: 3em;
	text-align: right;
	margin-right: 1em;
}
span.number-right {
	float: right;
	background: #f0f0f0;
	width: 3em;
	text-align: right;
	margin-left: 1em;
}

/* Header */
h1.title {
	text-align: center;
}
h2.author {
	text-align: center;
}
h2.Date {
	text-align: center;
}
div.abstract {
	margin: 1em 3em;
	text-align: left;
	font-size: 0.95em;
}
p.abstract-message {
	text-align: center;
	font-weight: bold;
}
div.tocheader {
	margin: 1em 0;
	font-size: large;
}
a.toc {
	color: black;
}
div.tocindent {
	padding: 0 0 0 2em;
}
div.toc {
	margin: 0.5em 0;
	font-size: 0.95em;
}
div.fulltoc {
	padding: 1em;
}
div.warning {
	font-size: 120%;
	color:#cc0000;
}
div.Institute {
	text-align: center;
}
/*
* Extras: colors, footnotes, boxes, spaces...
*/

/* Raw colors */
span.red {
	color: #c00000;
}
span.blue {
	color: #0000c0;
}
span.green {
	color: #00c000;
}
span.magenta {
	color: #c000c0;
}
span.cyan {
	color: #00c0c0;
}
span.yellow {
	color: #c0c000;
}
span.white {
	color: #ffffff;
}

/* Footnotes */
span.SupFootMarker {
	color: #0030c0;
	font-size: 0.75em;
	line-height: 0.5em;
	vertical-align: text-top;
}
span.AlignFootMarker {
	color: #0030c0;
}
div.EndFoot {
	margin: 0.2ex;
	background: #ffffff;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.MarginFoot {
	float: right;
	clear: right;
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	width: 30%;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.HoverFoot {
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.FootOuter .HoverFoot {
	display: none;
	position: absolute;
}
span.FootOuter:hover .HoverFoot {
	display: inline;
	float: none;
}
span.Marginal {
	float: right;
	clear: right;
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	width: 30%;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.Note {
	display: none;
}

/* Boxes */
div.framed {
	outline-style: solid;
}
div.frameless {
}
div.Frameless {
}
div.Boxed {
	outline-width: thin;
	outline-style: solid;
}
div.Framed {
	outline-width: thin;
	outline-style: solid;
	line-height: 200%;
}
div.Doublebox {
	outline-style: double;
}
div.Shadowbox {
	outline-style: outset;
}
div.Shaded {
	outline-style: inset;
}
div.ovalbox {
	outline-style: groove;
}
div.Ovalbox {
	outline-style: ridge;
}
hr.line {
	display: inline-block;
}

/* Spaces */
span.hspace {
	display: inline-block;
}
span.vspace {
	display: inline-block;
	vertical-align: text-top;
}
span.hfill {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	min-width: 20mm;
	background: #fff0f0;
}
div.defskip {
	display: block;
	height: 1em;
}
div.smallskip {
	display: block;
	height: 0.5em;
}
div.medskip {
	display: block;
	height: 1em;
}
div.bigskip {
	display: block;
	height: 2em;
}
div.vfill {
	display: block;
	height: 30em;
}

/* Sizes */
span.scriptstyle {
	font-size: 0.75em;
}
span.scriptscriptstyle {
	font-size: 0.60em;
}

/* Chunks */
div.chunk {
	width: auto;
}
span.chunkleft span.chunkright {
	font-style: normal;
}
span.chunkdecl {
	font-style: italic;
	padding: 0em 2em;
}
span.chunkref {
	font-style: italic;
}

/* Split Part Navigation */
div.splitheader {
	margin: 0em;
	padding: 0.1em;
	text-align: center;
	background: #f9f9f9;
	overflow: auto;
}
span.next {
	float: right;
	width: 30%;
	text-align: right;
}
span.up {
	display: inline-block;
	width: 30%;
	text-align: center;
}
span.prev {
	float: left;
	width: 30%;
	text-align: left;
}
hr.footer {
	margin-top: 2em;
}
div.footer {
	font-size: 0.90em;
	margin: 1em 0;
}

/* Change Tracking */
span.inserted {
	color: #0000ff;
}
span.deleted {
	color: #ff0000;
	text-decoration: line-through;
}

/* Google Charts */
img.chart {
	vertical-align: middle;
}
/* --end--
* CSS file for LaTeX formulas.
*/

/* Formulas */
.formula {
	text-align: center;
	font-family: "DejaVu Serif", serif;
	margin: 1.2em 0;
}
span.formula {
	white-space: nowrap;
}
div.formula {
	padding: 0.5ex;
	margin-left: auto;
	margin-right: auto;
}

/* Basic features */
a.eqnumber {
	display: inline-block;
	float: right;
	clear: right;
	font-weight: bold;
}
span.unknown {
	color: #800000;
}
span.ignored, span.arraydef {
	display: none;
}
.formula i {
	letter-spacing: 0.1ex;
}

/* Alignment */
.align-left, .align-l {
	text-align: left;
}
.align-right, .align-r {
	text-align: right;
}
.align-center, .align-c {
	text-align: center;
}

/* Structures */
span.overline, span.bar {
	text-decoration: overline;
}
.fraction, .fullfraction {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.fraction .fraction {
	font-size: 80%;
	line-height: 100%;
}
span.numerator {
	display: block;
}
span.denominator {
	display: block;
	padding: 0ex;
	border-top: thin solid;
}
sup.numerator, sup.unit {
	font-size: 70%;
	vertical-align: 80%;
}
sub.denominator, sub.unit {
	font-size: 70%;
	vertical-align: -20%;
}
span.sqrt {
	display: inline-block;
	vertical-align: middle;
	padding: 0.1ex;
}
sup.root {
	font-size: 70%;
	position: relative;
	left: 1.4ex;
}
span.radical {
	display: inline-block;
	padding: 0ex;
	font-size: 150%;
	vertical-align: top;
}
span.root {
	display: inline-block;
	border-top: thin solid;
	padding: 0ex;
	vertical-align: middle;
}
span.symbol {
	font-size: 125%;
}
span.bigsymbol {
	font-size: 150%;
}
span.largesymbol {
	font-size: 175%;
}
span.hugesymbol {
	font-size: 200%;
}
span.scripts {
	display: inline-table;
	vertical-align: middle;
}
.script {
	display: table-row;
	text-align: left;
	line-height: 150%;
}
span.limits {
	display: inline-table;
	vertical-align: middle;
}
.limit {
	display: table-row;
	line-height: 95%;
}
sup.limit, sub.limit {
	line-height: 150%;
}
span.symbolover {
	display: inline-block;
	text-align: center;
	position: relative;
	float: right;
	right: 100%;
	bottom: 0.5em;
	width: 0px;
}
span.withsymbol {
	display: inline-block;
}
span.symbolunder {
	display: inline-block;
	text-align: center;
	position: relative;
	float: right;
	right: 80%;
	top: 0.3em;
	width: 0px;
}

/* Environments */
span.array, span.bracketcases, span.binomial, span.environment {
	display: inline-table;
	text-align: center;
	border-collapse: collapse;
	margin: 0em;
	vertical-align: middle;
}
span.arrayrow, span.binomrow {
	display: table-row;
	padding: 0ex;
	border: 0ex;
}
span.arraycell, span.bracket, span.case, span.binomcell, span.environmentcell {
	display: table-cell;
	padding: 0ex 0.2ex;
	line-height: 99%;
	border: 0ex;
}
/*
* CSS file for LaTeX formulas, extra stuff:
* binomials, vertical braces, stackrel, fonts and colors.
*/

/* Inline binomials */
span.binom {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 80%;
}
span.binomstack {
	display: block;
	padding: 0em;
}

/* Over- and underbraces */
span.overbrace {
	border-top: 2pt solid;
}
span.underbrace {
	border-bottom: 2pt solid;
}

/* Stackrel */
span.stackrel {
	display: inline-block;
	text-align: center;
}
span.upstackrel {
	display: block;
	padding: 0em;
	font-size: 80%;
	line-height: 64%;
	position: relative;
	top: 0.15em;

}
span.downstackrel {
	display: block;
	vertical-align: bottom;
	padding: 0em;
}

/* Fonts */
span.mathsf, span.textsf {
	font-style: normal;
	font-family: sans-serif;
}
span.mathrm, span.textrm {
	font-style: normal;
	font-family: serif;
}
span.text, span.textnormal {
	font-style: normal;
}
span.textipa {
	color: #008080;
}
span.fraktur {
	font-family: "Lucida Blackletter", eufm10, blackletter;
}
span.blackboard {
	font-family: Blackboard, msbm10, serif;
}
span.scriptfont {
	font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
	font-style: italic;
}

/* Colors */
span.colorbox {
	display: inline-block;
	padding: 5px;
}
span.fbox {
	display: inline-block;
	border: thin solid black;
	padding: 2px;
}
span.boxed, span.framebox {
	display: inline-block;
	border: thin solid black;
	padding: 5px;
}

/*
* Obsolete definitions, kept for backwards compatibility.
*/

/* Footnotes */
span.FootMarker {
	color: #0030c0;
	font-size: 0.75em;
	line-height: 0.5em;
	vertical-align: text-top;
}
span.Foot {
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.FootOuter .Foot {
	display: none;
	position: absolute;
}
span.FootOuter:hover .Foot {
	display: inline;
	float: none;
}

/* Dotted box */
span.dotted {
	border-top: thin dotted;
}

/* Obsolete aligned structures */
span.numerator-l {
	display: block;
	text-align: left;
}
span.numerator-r {
	display: block;
	text-align: right;
}
span.numeratorl {
	display: block;
	text-align: left;
}
span.numeratorr {
	display: block;
	text-align: right;
}
span.framebox- {
	display: inline-block;
	border: thin solid black;
	text-align: center;
	padding: 5px;
}
span.framebox-l {
	display: inline-block;
	border: thin solid black;
	text-align: left;
	padding: 5px;
}
span.framebox-r {
	display: inline-block;
	border: thin solid black;
	text-align: right;
	padding: 5px;
}
td.formula-l {
	text-align: left;
	padding: 0.2ex;
	border: 0ex;
}
td.formula-c {
	text-align: center;
	padding: 0.2ex;
	border: 0ex;
}
td.formula-r {
	text-align: right;
	padding: 0.2ex;
	border: 0ex;
}

/* Obsolete limits */
sub.bigsymbol {
	display: table-row;
	text-align: left;
	line-height: 150%;
}
sup.bigsymbol {
	display: table-row;
	text-align: left;
	line-height: 150%;
}

/* Obsolete cases */
table.cases {
	display: inline-block;
	text-align: center;
	border-collapse: collapse;
	margin: 0.2em;
	border-left: thin solid;
	vertical-align: middle;
}
table.cases tr td {
	padding-left: 1ex;
	padding-right: 1em;
}

/* Obsolete binomials */
span.fullbinom {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
span.upbinom {
	display: block;
	padding: 0em;
}
span.downbinom {
	display: block;
	padding: 0em;
}

/* Obsolete environments */
table.formula {
	display: inline-block;
	text-align: center;
	border-collapse: collapse;
	margin: 0em;
	vertical-align: middle;
}
td.formula {
	padding: 0.2ex;
	border: 0ex;
}
table.environment {
	display: inline-block;
	text-align: right;
	margin: 0;
	vertical-align: middle;
}
table.environment tr td {
	padding: 0 1em;
}
/*
* CSS section for print.
*/
@media print {
body {
	font: 90% serif;
	background: #ffffff;
	color: black;
	margin: 0;
	padding: 0;
}
#globalWrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	line-height: 1.5em;
}
span.FootOuter .Foot {
	display: block;
	position: relative;
	float: right;
	clear: right;
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	width: 30%;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.FootOuter .HoverFoot {
	display: block;
	position: relative;
	float: right;
	clear: right;
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #000000;
	width: 30%;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
a:visited {
	color: #0030c0;
}
/* end of print CSS */
}
